@media (min-width: 750px) {
    .menubtn {
        margin-top: 1.42rem;
        display: none;
    }
    .bigmenu {
        margin-top: 0.71rem;
        right: 0.71rem;
    }
}

@media (max-width: 750px) {
    .bigmenu {
        margin-top: 0.71rem;
        display: none;
    }
    .menubtn {
        position: absolute;
        margin-top: 1.42rem;
        right: 1.42rem;
    }
}

.ant-layout-header {
    background: white;
}