body {
  margin: 5px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.wordsOfChrist {
  color: #FF0000;
}
.verse_num {
  font-weight: normal;
  font-size: 0.75em;
}
.bible_version {
  color: #ff24ff;
}

.search_result {
  color: forestgreen;
  font-weight: bold;
}
/*Large devices - desktops*/
@media (min-width: 992px) {
  .nugget-view {
    margin-left: 30%;
    margin-right: 30%;
  }
}
@media (max-width: 991px) {
  .nugget-view {
    margin-left: 3%;
    margin-right: 3%;
  }
}

.nugget-view {
  font-weight: bold;
  line-height: 1.25em;
  font-size: 2.3em;
  height: 100%;
  text-align: center;
}

.button {
  font-size: 48px !important;
  width: fit-content !important;
  height: fit-content !important;
}

.icon {
  font-size: inherit !important;
  padding: 7px;
}
.icon-dropdown {
  font-size: 52px !important;
}
.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms cubic-bezier(0.55, 0.085, 0.68, 0.53);
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 300ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.topic {
  margin-bottom: 15px !important;
  font-weight: bold !important;
  font-size: 18px !important;
  cursor: pointer;
}

.back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: xx-large;
}
