body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.wordsOfChrist {
  color: #FF0000;
}
.verse_num {
  font-weight: normal;
  font-size: 0.75em;
}
.bible_version {
  color: #ff24ff;
}

.search_result {
  color: forestgreen;
  font-weight: bold;
}
/*Large devices - desktops*/
@media (min-width: 992px) {
  .nugget-view {
    margin-left: 30%;
    margin-right: 30%;
  }
}
@media (max-width: 991px) {
  .nugget-view {
    margin-left: 3%;
    margin-right: 3%;
  }
}

.nugget-view {
  font-weight: bold;
  line-height: 1.25em;
  font-size: 1.5em;
  height: 100%;
  text-align: center;
}

.button {
  font-size: 48px !important;
  width: fit-content !important;
  height: fit-content !important;
}

.icon {
  font-size: inherit !important;
  padding: 7px;
}
.icon-dropdown {
  font-size: 52px !important;
}