body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.wordsOfChrist {
  color: #FF0000;
}
.verse_num {
  font-weight: normal;
  font-size: 0.75em;
}
.bible_version {
  color: #ff24ff;
}

.search_result {
  color: forestgreen;
  font-weight: bold;
}
.nugget-view {
  font-weight: bold;
  line-height: 1.25em;
  font-size: 1.5em;
  height: 100%;
  text-align: center;
}